
.dropdown-content {
    display: none;
    position: absolute;
    background-color: hsl(0, 0%, 98%);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 5vw;
  }
  
  .account-dropdown .dropdown-content {
    display: block;
  }
  


  .dropdown-link {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333; 
  }
  
  .dropdown-link:hover {
    background-color: #597381; 
  }


  .account-button{
    border: none;
    background-color: inherit;
  }

  .account-button:hover{
    cursor: pointer;
  }