/* Style the button that is used to open and close the collapsible content */
.section {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-bottom: 20px;
  border-radius: 15px;
}


.section.active{
  border-radius: 15px 15px 0 0;

}
  /* Style the collapsible content. Note: hidden by default */
.section-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #eee;
  ;
  border-radius: 0px 0px 15px 15px;
}
  
/* Show the section content when expanded */
.section-content.expanded {
  display: block;
  margin-top: -20px;
  margin-bottom: 20px;
}
