.landing-page-grid{
    display: grid;
    grid-template-columns: 70% 30%;
}

.h1-titles{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.col-1{
    grid-column-start: 1;
}

.col-2{
    grid-column-start: 2;
}

.flex-div{
    display: flex;
}